<?php

$params = [
    'algolia' => [
        'applicationID' => '',
        'apiKey_search' => '',
        'apiKey_admin' => '',
        'indexName' => 'apps',
    ],
    'debug' => true,
];

return $params;
