html {
	background: #f6f6f6;
}

body {
	margin: 0;
	font-family: sans-serif;
}

button {
	cursor: pointer;
	outline: none;
}

#app {
	margin: 200px auto 0;
	text-align: center;
	width: 60%;
	min-width: 700px;
}

#app * {
	font-size: 1.5rem;
}

/* TODO: use flexbox if allwowed */
#searchInput {
	padding: 5px 10px;
	border-radius: 10px;
	border-style: solid;
	border-color: #999;
	width: calc(100% - 170px);
	outline: none;
}

#addButton {
	border-radius: 9px;
	background: rgb(49, 49, 49);
	color: #e8e8e8;
	border-style: solid;
	padding: 5px 30px;
	border-color: rgb(0, 174, 255);
	margin-left: 20px;
}

#resultsCt {
	width: calc(100% - 140px);
}

#results {
	list-style-type: none;
	text-align: left;
	margin: 0;
	padding: 0;
	border: 1px solid #eee;
	background: white;
}

#results .result {
	border-bottom: 1px solid #ddd;
	padding: 5px;
}

#results .result:hover, #results .result:active, #results .result:focus {
	background: rgba(0, 174, 255, 0.2);
}

#results .result .name {
	text-decoration: none;
}

#results em {
	background-color: rgba(0, 174, 255, 0.3);
	font-style: normal;
}

#results .category {
	font-size: 0.7em;
	color: #666;
}

/* TODO: use flexbox */
#results .delete {
	border-radius: 20px;
	border-style: solid;
	width: 33px;
	background: white;
	border-color: #d60000;
	color: #940000;
	font-weight: bold;
	outline: none;
	font-size: 0.8em;

	float: right;
}
